<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<!-- <f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event> -->
</f:metadata>
<h:head>
	<title>Historial Guardia</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
		<h:form>
			<h:outputText value="Fecha inicio:" />
			<p:datePicker value="#{beanAudBitacora.fechaInicio}" showTime="true" />
			<h:outputText value="Fecha fin:" />
			<p:datePicker value="#{beanAudBitacora.fechaFin}" showTime="true" />
			<p:commandButton update="@form" value="Consultar" icon="pi pi-clock"
				actionListener="#{beanAudBitacora.actionListenerConsultarBitacora()}" />
			<p:dataTable value="#{beanAudBitacora.listaBitacora}" var="b"
				emptyMessage="No hay registros aún." paginator="true" rows="20">
				<p:column headerText="ID" style="width:50px">
					<h:outputText value="" />
				</p:column>
				<p:column headerText="CEDULA">
					<h:outputText value="" />
				</p:column>
				<p:column headerText="FECHA INGRESO">
					<h:outputText value="" />
				</p:column>
				<p:column headerText="FECHA DE SALIDA">
					<h:outputText value="" />
				</p:column>
				<p:column headerText="ESTADO">
					<h:outputText value="" />
				</p:column>
				<p:column headerText="CAMBIAR ESTADO">
					<p:toggleSwitch value="	"/>
					
				</p:column>
				
			</p:dataTable>
			
		</h:form>
	</p:panel>
</body>
</html>
