<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>

</f:metadata>
<h:head>
	<title>Empresas vista</title>
</h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de empresas"></p:staticMessage>
	</h:form>
	<div>
		<p:panel>
			<p:commandButton value="Nueva Empresa" icon="pi pi-plus" id="cmdNuevo" oncomplete="PF('dlgIngreso').show()"></p:commandButton>
			
			<h:form id="formDatos">
				<p:dataTable emptyMessage="No hay registros aún." value="" var="e" scrollable="true" style="padding: 1%">
					<p:column headerText="ID" width="25%">
						<h:outputText value="" />
					</p:column>
					<p:column headerText="NOMBRE EMPRESA" width="25%">
						<h:outputText value="" />
					</p:column>
					<p:column headerText="CATEGORIA" width="25%">
						<h:outputText value="" />
					</p:column>
					<p:column headerText="ID DETALLE EMPRESA" width="25%">
						<h:outputText value="" />
					</p:column>
				</p:dataTable>
				<h3>Detalles empresa</h3>
				<p:dataTable emptyMessage="No hay registros aún." value="" var="e" scrollable="true">
					<p:column headerText="ID" width="15%">
						<h:outputText value="" />
					</p:column>
					<p:column headerText="NOMBRE EMPRESA" width="15%">
						<h:outputText value="" />
					</p:column>
					<p:column headerText="UBICACIÓN DE TRABAJO" width="15%">
						<h:outputText value="" />
					</p:column>
					<p:column headerText="TIPO" width="15%">
						<h:outputText value="" />
					</p:column>
					<p:column headerText="TELEFONO" width="15%">
						<h:outputText value="" />
					</p:column>
					<p:column headerText="CORREO" width="15%">
						<h:outputText value="" />
					</p:column>
					
	
			
				</p:dataTable>
			</h:form>
		</p:panel>
		
				<!--  cuadros de dialogos emergentes-->	
				<p:dialog header="INGRESO EMPRESA" widgetVar="dlgIngreso"  width="600" showEffect="fade" modal="true">
					<h:form>
						<p:panelGrid columns="2">
							<h:outputText value="NOMBRE EMPRESA:" />
							<p:inputText value=""
								required="true" requiredMessage="Ingrese el nombre de la empresa" />
							<h:outputText value="CATEGORIA:" />
							<p:inputText value=""
								required="true" requiredMessage="Ingrese la el tipo matriz/sucursal" />
							<h:outputText value="UBICACIÓN DE TRABAJO:" />
							<p:inputText value=""
								required="true" requiredMessage="Ingrese la ubicacion de la empresa" />
							<h:outputText value="Tipo:" />
							<p:selectOneMenu filterMatchMode="contains" 
									value="">
									<f:selectItem itemLabel="Seleccione el TIPO..."
										noSelectionOption="true" />
									<f:selectItem 
										var="u" itemLabel="MATRIZ"
										itemValue="MATRIZ"></f:selectItem>
									<f:selectItem 
										var="u" itemLabel="SUCURSAL"
										itemValue="SUCURSAL"></f:selectItem>
							</p:selectOneMenu>
							<h:outputText value="TELEFONO:" />
							<p:inputText value=""
								required="true" requiredMessage="Ingrese el telefono de la empresa" />
					
							<h:outputText value="CORREO:" />
							<p:inputText value="" 
								required="true" requiredMessage="Ingrese el correo de la empresa"/>
							<p:commandButton value="Guardar" icon="pi pi-save" update="@form"> 
							</p:commandButton>	
						</p:panelGrid>						
					</h:form>
				</p:dialog>	
		
		
		<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
			responsive="true" width="350">
			<p:commandButton value="No" type="button"
				styleClass="ui-confirmdialog-no ui-button-flat" />
			<p:commandButton value="Sí" type="button"
				styleClass="ui-confirmdialog-yes" />
		</p:confirmDialog>
	</div>
</body>
</html>
