<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Secretaria</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate></p:autoUpdate>
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Productos" icon="pi pi-briefcase" />
			<p:menuitem value="Ingresos" icon="pi pi-step-forward" />
			<p:menuitem value="Egressos" icon="pi pi-step-backward" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Secretaria"></p:staticMessage>
	</h:form>
	<div>
		<h:form>
			<h:panelGrid columns="2">
				<h:outputText value="Cédula" />
					<p:inputText value ="#{beanSalSecretaria.carnetNuevo.cedulaEstudiante}"/>
				<h:outputText value="Fecha vacuna 1:" />
					<p:calendar value="#{beanSalSecretaria.carnetNuevo.fecha1}"/>
				<h:outputText value="Fecha vacuna 2:" />
					<p:calendar value="#{beanSalSecretaria.carnetNuevo.fecha2}"/>
				<p:commandButton value="Ingresar" icon="pi pi-save" 
								actionListener="#{beanSalSecretaria.actionListenerInsertarCarnet()}"
								update="@form, :tabla"></p:commandButton>
			</h:panelGrid>
		</h:form>
		<h:form id="tabla">
			<p:dataTable value ="#{beanSalSecretaria.listaCarnet}" var="c" emptyMessage="Si datos ">
				<p:column headerText = "Cedula">
					<h:outputText value="#{c.cedulaEstudiante}" />
				</p:column>
				<p:column headerText = "Fecha 1">
					<h:outputText value="#{c.fecha1}" />
				</p:column>
				<p:column headerText = "Fecha 2">
					<h:outputText value="#{c.fecha2}" />
				</p:column>
			</p:dataTable>
		</h:form>
	
	
	</div>
</body>
</html>
