<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de empresas"></p:staticMessage>
	</h:form>
	<div class="card">
		<p:steps activeIndex="2">
			<p:menuitem value="Ubicacion" />
			<p:menuitem value="Nivel Educacion" />
			<p:menuitem value="Categoria/Clasificacion" />
			<p:menuitem value="Guardia" />
		</p:steps>
		<div style="text-align: right;">
			<p:commandButton value="Siguiente" icon="pi pi-arrow-right"
				action="#{beanGuardias.actionPasarPagina3()}" />
		</div>
		<p:panelGrid columns="2">
			<f:facet name="header">
                        CLASIFICACION Y CATEGORIA
                </f:facet>
			<h:form>
				<p:panelGrid columns="2">
					<f:facet name="header">
                        CLASIFICACION
                </f:facet>
					<h:outputText value="Nombre" />
					<p:inputText value="#{beanParametros.nombreClasificacion}"
						required="true" requiredMessage="Ingrese una Clasificacion.">
						<p:keyFilter regEx="/[a-zA-ZÀ-ú\\s\\' ]+/" />
					</p:inputText>
					<p:commandButton
						actionListener="#{beanParametros.actionGuardarClasificacion()}"
						value="Guardar" icon="pi pi-save"
						update="@form,:formClasificacion" />
				</p:panelGrid>
			</h:form>
			<h:form id="formClasificacion">
				<p:dataTable value="#{beanParametros.listaClasificacion}"
					var="clasi">
					<f:facet name="header">
                        CLASIFICACION
                </f:facet>
					<p:column headerText="CODIGO">
						<h:outputText value="#{clasi.idCdgClasificacion}" />
					</p:column>
					<p:column headerText="NOMBRE">
						<h:outputText value="#{clasi.nombreClasificacion}" />
					</p:column>
					<p:column headerText="OPCIONES">
						<p:commandButton value="Editar" icon="pi pi-pencil"
							actionListener="#{beanParametros.actionListenerSeleccionarClasificacion(clasi)}"
							oncomplete="PF('dlgEdicionClasi').show()"
							update=":formEdicionClasi" />
						<p:commandButton icon="pi pi-times" title="Eliminar"
							actionListener="#{beanParametros.actionEliminarClasificacion(clasi.idCdgClasificacion)}"
							onclick="return confirm('Estás seguro que deseas eliminar el registro?');"
							update="@form" />
					</p:column>
				</p:dataTable>
			</h:form>
			<h:form>
				<p:panelGrid columns="2">
					<f:facet name="header">
                        CATEGORIA
                </f:facet>
					<h:outputText value="Nombre" />
					<p:inputText value="#{beanParametros.nombreCategoria}"
						required="true" requiredMessage="Ingrese una Categoria.">
						<p:keyFilter regEx="/[a-zA-ZÀ-ú\\s\\' ]+/" />
					</p:inputText>
					<p:commandButton
						actionListener="#{beanParametros.actionGuardarCategoria()}"
						value="Guardar" icon="pi pi-save" update="@form,:formCategoria" />
				</p:panelGrid>
			</h:form>
			<h:form id="formCategoria">
				<p:dataTable value="#{beanParametros.listaCategoria}" var="cato">
					<f:facet name="header">
                        CATEGORIA
                </f:facet>
					<p:column headerText="CODIGO">
						<h:outputText value="#{cato.idCdgCategoria}" />
					</p:column>
					<p:column headerText="NOMBRE">
						<h:outputText value="#{cato.nombreCategoria}" />
					</p:column>
					<p:column headerText="OPCIONES">
						<p:commandButton value="Editar" icon="pi pi-pencil"
							actionListener="#{beanParametros.actionListenerSeleccionarCategoria(cato)}"
							oncomplete="PF('dlgEdicion').show()" update=":formEdicionCato" />
						<p:commandButton icon="pi pi-times" title="Eliminar"
							actionListener="#{beanParametros.actionEliminarCategoria(cato.idCdgCategoria)}"
							onclick="return confirm('Estás seguro que deseas eliminar el registro?');"
							update="@form" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panelGrid>
		<p:dialog header="Editar Clasificacion" widgetVar="dlgEdicionClasi"
			width="450" showEffect="fade" modal="true">
			<h:form id="formEdicionClasi">
				<p:messages>
					<p:autoUpdate />
				</p:messages>
				<p:panelGrid columns="2">
					<h:outputText value="CODIGO: " />
					<h:outputText
						value="#{beanParametros.clasiSeleccionado.idCdgClasificacion}" />
					<h:outputText value="NOMBRE: " />
					<p:inputText
						value="#{beanParametros.clasiSeleccionado.nombreClasificacion}"
						required="true" requiredMessage="Indique el nombre.">
						<p:keyFilter regEx="/[a-zA-ZÀ-ú\\s\\' ]+/" />
					</p:inputText>
					<p:commandButton type="button" value="Cancelar"
						styleClass="ui-button-flat p-mr-2"
						onclick="PF('dlgEdicionClasi').hide()" />
					<p:commandButton value="Guardar" icon="pi pi-save"
						actionListener="#{beanParametros.actionListenerActualizarClasificacion()}"
						update="@form,:formClasificacion" />
				</p:panelGrid>
			</h:form>
		</p:dialog>
		<p:dialog header="Editar Categoria" widgetVar="dlgEdicion" width="450"
			showEffect="fade" modal="true">
			<h:form id="formEdicionCato">
				<p:messages>
					<p:autoUpdate />
				</p:messages>
				<p:panelGrid columns="2">
					<h:outputText value="CODIGO: " />
					<h:outputText
						value="#{beanParametros.catoSeleccionado.idCdgCategoria}" />
					<h:outputText value="NOMBRE: " />
					<p:inputText
						value="#{beanParametros.catoSeleccionado.nombreCategoria}"
						required="true" requiredMessage="Indique el nombre.">
						<p:keyFilter regEx="/[a-zA-ZÀ-ú\\s\\' ]+/" />
					</p:inputText>
					<p:commandButton type="button" value="Cancelar"
						styleClass="ui-button-flat p-mr-2"
						onclick="PF('dlgEdicion').hide()" />
					<p:commandButton value="Guardar" icon="pi pi-save"
						actionListener="#{beanParametros.actionListenerActualizarCategoria()}"
						update="@form,:formCategoria" />
				</p:panelGrid>
			</h:form>
		</p:dialog>
	</div>
</body>
</html>
