<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de empresas"></p:staticMessage>
	</h:form>
	<div class="card">
		<p:steps activeIndex="1">
			<p:menuitem value="Ubicacion" />
			<p:menuitem value="Nivel Educacion" />
			<p:menuitem value="Categoria/Clasificacion" />
			<p:menuitem value="Guardia" />
		</p:steps>
		<div style="text-align: right;">
			<p:commandButton value="Siguiente" icon="pi pi-arrow-right"
				action="#{beanGuardias.actionPasarPagina2()}" />
		</div>
		<p:panelGrid columns="2">
			<h:form>
				<p:messages>
					<p:autoUpdate />
				</p:messages>
				<p:panelGrid columns="2">
					<f:facet name="header">REGISTRO EDUCACION</f:facet>
					<p:outputLabel value="Nivel" />
					<p:selectOneMenu value="#{beanEducacion.nivel}">
						<f:selectItem itemLabel="Primaria" itemValue="Primaria" />
						<f:selectItem itemLabel="Secundaria" itemValue="Secundaria" />
						<f:selectItem itemLabel="Tercer Nivel" itemValue="Tercer Nivel" />
						<f:facet name="footer">
							<p:divider styleClass="p-mt-0" />
							<h:outputText value="EDUCACION" style="font-weight:bold;" />
						</f:facet>
					</p:selectOneMenu>
					<h:outputText value="Carrera:" />
					<p:inputText value="#{beanEducacion.carrera}" required="true"
						maxlength="50" requiredMessage="Debe de completar el campo.">
						<p:keyFilter regEx="/[a-zA-ZÀ-ú\\s\\' ]+/" />
					</p:inputText>
					<h:outputText value="Registrado" />
					<p:selectBooleanCheckbox value="#{beanEducacion.registrado}"
						itemLabel="Registrar">
					</p:selectBooleanCheckbox>
					<p:commandButton
						actionListener="#{beanEducacion.actionGuardarEducacion()}"
						value="Guardar" icon="pi pi-save" update="@form,:form4" />
				</p:panelGrid>
			</h:form>
			<p:panelGrid columns="2">
				<f:facet name="header">NIVELES/CARRERAS</f:facet>
				<h:form id="form4">
					<p:dataTable value="#{beanEducacion.listaEducacion}" var="edu">
						<p:column headerText="CODIGO">
							<h:outputText value="#{edu.idCdgNivelEducacion}" />
						</p:column>
						<p:column headerText="NIVEL">
							<h:outputText value="#{edu.nivel}" />
						</p:column>
						<p:column headerText="CARRERA">
							<h:outputText value="#{edu.carrera}" />
						</p:column>
						<p:column headerText="REGISTRADO" style="text-align:center;">
							<p:selectBooleanCheckbox value="#{edu.registrado}"
								disabled="true">
							</p:selectBooleanCheckbox>
						</p:column>
						<p:column headerText="OPCIONES">
							<p:commandButton value="Editar" icon="pi pi-pencil"
								actionListener="#{beanEducacion.actionListenerSeleccionarEducacion(edu)}"
								oncomplete="PF('dlgEdicion').show()" update=":formEdicion" />
							<p:commandButton icon="pi pi-times" title="Eliminar"
								actionListener="#{beanEducacion.actionEliminarEdu(edu.idCdgNivelEducacion)}"
								onclick="return confirm('Estás seguro que deseas eliminar el registro?');"
								update="@form" />
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panelGrid>
		</p:panelGrid>
		<p:dialog header="Editar Educacion" widgetVar="dlgEdicion" width="450"
			showEffect="fade" modal="true">
			<h:form id="formEdicion">
				<p:messages>
					<p:autoUpdate />
				</p:messages>
				<p:panelGrid columns="2">
					<h:outputText value="CODIGO: " />
					<h:outputText
						value="#{beanEducacion.eduSeleccionado.idCdgNivelEducacion}" />
					<h:outputText value="NIVEL: " />
					<h:outputText value="#{beanEducacion.eduSeleccionado.nivel}" />
					<h:outputText value="CARRERA: " />
					<p:inputText value="#{beanEducacion.eduSeleccionado.carrera}"
						required="true" requiredMessage="Indique el nombre.">
						<p:keyFilter regEx="/[a-zA-ZÀ-ú\\s\\' ]+/" />
					</p:inputText>
					<h:outputText value="Registrado" />
					<p:selectBooleanCheckbox
						value="#{beanEducacion.eduSeleccionado.registrado}"
						itemLabel="Registrar">
					</p:selectBooleanCheckbox>
					<p:commandButton type="button" value="Cancelar"
						styleClass="ui-button-flat p-mr-2"
						onclick="PF('dlgEdicion').hide()" />
					<p:commandButton value="Guardar" icon="pi pi-save"
						actionListener="#{beanEducacion.actionListenerActualizarEdu()}"
						update="@form,:form4" />
				</p:panelGrid>
			</h:form>
		</p:dialog>
	</div>
</body>
</html>
