<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de empresas"></p:staticMessage>
	</h:form>
	<div class="card">
		<p:steps activeIndex="3">
			<p:menuitem value="Ubicacion" />
			<p:menuitem value="Nivel Educacion" />
			<p:menuitem value="Categoria/Clasificacion" />
			<p:menuitem value="Guardia" />
		</p:steps>
		<p:panelGrid columns="2">
			<f:facet name="header">
                        CREACION DE GUARDIA
                </f:facet>
			<h:form id="datos">
				<p:panelGrid columns="2">
					<f:facet name="header">
                        DATOS GUARDIA
                </f:facet>
					<h:outputText value="Cedula:" />
					<p:inputText value="#{beanGuardiaP.cedula}" required="true"
						requiredMessage="Ingrese una cedula.">
						<p:keyFilter mask="num" />
					</p:inputText>
					<h:outputText value="Apellidos:" />
					<p:inputText value="#{beanGuardiaP.apellidos}" required="true"
						requiredMessage="Ingrese los Apellidos.">
						<p:keyFilter regEx="/[a-zA-ZÀ-ú\\s\\' ]+/" />
					</p:inputText>
					<h:outputText value="Nombres:" />
					<p:inputText value="#{beanGuardiaP.nombres}" required="true"
						requiredMessage="Ingrese los Nombres.">
						<p:keyFilter regEx="/[a-zA-ZÀ-ú\\s\\' ]+/" />
					</p:inputText>
					<h:outputText value="Fecha Nacimiento: " />
					<p:datePicker id="navigator" required="true"
						requiredMessage="Ingrese una fecha."
						value="#{beanGuardiaP.fechaNacimiento}" monthNavigator="true"
						yearNavigator="true" showWeek="true" />
					<h:outputText value="Género" />
					<p:inputText value="#{beanGuardiaP.genero}" required="true"
						requiredMessage="Ingrese el genero.">
						<p:keyFilter regEx="/[a-zA-ZÀ-ú\\s\\' ]+/" />
					</p:inputText>
					<h:outputText value="Celular" />
					<p:inputText value="#{beanGuardiaP.celular}" required="true"
						requiredMessage="Ingrese un numero de celular">
						<p:keyFilter mask="num" />
					</p:inputText>
					<h:outputText value="Reentrenado" />
					<p:selectBooleanCheckbox value="#{beanGuardiaP.reentrenado}" />
					<h:outputText value="Discapacidad" />
					<p:selectBooleanCheckbox value="#{beanGuardiaP.discapacidad}" />
					<p:outputLabel for="@next" value="Porcentaje Discapacidad" />
					<p:selectOneMenu value="#{beanGuardiaP.porcentajeDiscapacidad}">
						<f:selectItem itemLabel="Seleccione Uno" itemValue="0" />
						<f:selectItem itemLabel="40% al 49%" itemValue="60" />
						<f:selectItem itemLabel="50% al 74%" itemValue="70" />
						<f:selectItem itemLabel="75% al 84%" itemValue="80" />
						<f:selectItem itemLabel="85% al 100%" itemValue="100" />
						<f:facet name="footer">
							<p:divider styleClass="p-mt-0" />
							<h:outputText value="Porcentaje por Conadis"
								style="font-weight:bold;" />
						</f:facet>
					</p:selectOneMenu>
					<h:outputText value="Educacion:" />
					<p:selectOneMenu value="#{beanGuardiaP.idTituloSeleccionado}">
						<f:selectItems value="#{beanGuardiaP.listaTitulos}" var="a"
							itemLabel="#{a.nivel} #{a.carrera}"
							itemValue="#{a.idCdgNivelEducacion}"></f:selectItems>
					</p:selectOneMenu>
					<h:outputText value="Seleccione Ubicacion:" />
					<p:selectOneMenu value="#{beanGuardiaP.idUbicacionSeleccionada}">
						<f:selectItems value="#{beanGuardiaP.listaCiudad}" var="a"
							itemLabel="#{a.cdgProvincia.nombreProvincia} #{a.nombreCiudad}"
							itemValue="#{a.idCdgCiudad}"></f:selectItems>
					</p:selectOneMenu>
					<p:commandButton
						actionListener="#{beanGuardiaP.actionGuardarGuardia()}"
						value="Guardar" icon="pi pi-save" update=":datos,:form2" />
				</p:panelGrid>
			</h:form>
			<h:form id="form2">
				<p:panelGrid columns="2">
					<f:facet name="header">
                        LISTA GUARDIAS
                </f:facet>
					<p:dataTable value="#{beanGuardiaP.listaGuardiacab}" var="gu">
						<p:column headerText="CEDULA">
							<h:outputText value="#{gu.cedula}" />
						</p:column>
						<p:column headerText="APELLIDOS">
							<h:outputText value="#{gu.apellidos}" />
						</p:column>
						<p:column headerText="NOMBRES">
							<h:outputText value="#{gu.nombres}" />
						</p:column>
						<p:column headerText="FECHA N.">
							<h:outputText value="#{gu.fechaNacimiento}" />
						</p:column>
						<p:column headerText="GENERO">
							<h:outputText value="#{gu.genero}" />
						</p:column>
						<p:column headerText="REENTRENO" style="text-align:center;">
							<p:selectBooleanCheckbox value="#{gu.reentrenado}"
								disabled="true" />
						</p:column>
						<p:column headerText="CELULAR">
							<h:outputText value="#{gu.celular}" />
						</p:column>
						<p:column headerText="DISCAPACIDAD" style="text-align:center;">
							<p:selectBooleanCheckbox value="#{gu.discapacidad}"
								disabled="true" />
							<h:outputText value=" #{gu.porcentajeDiscapacidad} %" />
						</p:column>
						<p:column headerText="EDUCACION">
							<h:outputText
								value="#{gu.cdgNivelEducacion.nivel} #{gu.cdgNivelEducacion.carrera}" />
						</p:column>
						<p:column headerText="UBICACION">
							<h:outputText
								value="#{gu.cdgCiudad.cdgProvincia.nombreProvincia}  #{gu.cdgCiudad.nombreCiudad}" />
						</p:column>
						<p:column headerText="OPCIONES">
							<p:commandButton value="Editar" icon="pi pi-pencil"
								actionListener="#{beanGuardiaP.actionListenerSeleccionarGuardia(gu)}"
								oncomplete="PF('dlgEdicionGuardia').show()"
								update=":formEdicion" />
							<p:commandButton icon="pi pi-times" title="Eliminar"
								actionListener="#{beanGuardiaP.actionEliminarGuardia(gu.cedula)}"
								onclick="return confirm('Estás seguro que deseas eliminar el registro?');"
								update="@form" />
						</p:column>
					</p:dataTable>
				</p:panelGrid>
			</h:form>
		</p:panelGrid>
		<p:dialog header="Editar Guardia" widgetVar="dlgEdicionGuardia"
			width="550" showEffect="fade" modal="true">
			<h:form id="formEdicion">
				<p:messages>
					<p:autoUpdate />
				</p:messages>
				<p:panelGrid columns="2">
					<h:outputText value="CEDULA: " />
					<h:inputText value="#{beanGuardiaP.guardiaSeleccionado.cedula}"
						required="true" requiredMessage="Ingrese una cedula.">
						<p:keyFilter mask="num" />
					</h:inputText>
					<h:outputText value="APELLIDOS " />
					<p:inputText value="#{beanGuardiaP.guardiaSeleccionado.apellidos}"
						required="true" requiredMessage="Ingrese los Apellidos.">
						<p:keyFilter regEx="/[a-zA-ZÀ-ú\\s\\' ]+/" />
					</p:inputText>
					<h:outputText value="NOMBRES " />
					<p:inputText value="#{beanGuardiaP.guardiaSeleccionado.nombres}"
						required="true" requiredMessage="Indique los nombres.">
						<p:keyFilter regEx="/[a-zA-ZÀ-ú\\s\\' ]+/" />
					</p:inputText>
					<h:outputText value="FECHA NACIMIENTO: " />
					<p:calendar
						value="#{beanGuardiaP.guardiaSeleccionado.fechaNacimiento}"
						required="true" requiredMessage="Ingrese una fecha" />
					<h:outputText value="GENERO: " />
					<p:inputText value="#{beanGuardiaP.guardiaSeleccionado.genero}"
						required="true" requiredMessage="Indique el genero.">
						<p:keyFilter regEx="/[a-zA-ZÀ-ú\\s\\' ]+/" />
					</p:inputText>
					<h:outputText value="CELULAR: " />
					<p:inputText value="#{beanGuardiaP.guardiaSeleccionado.celular}"
						required="true" requiredMessage="Indique el celular">
						<p:keyFilter mask="num" />
					</p:inputText>
					<h:outputText value="REENTRENADO: " />
					<p:selectBooleanCheckbox
						value="#{beanGuardiaP.guardiaSeleccionado.reentrenado}"
						itemLabel="Registrar">
					</p:selectBooleanCheckbox>
					<h:outputText value="DISCAPACITADO: " />
					<p:selectBooleanCheckbox
						value="#{beanGuardiaP.guardiaSeleccionado.discapacidad}"
						itemLabel="Registrar">
					</p:selectBooleanCheckbox>
					<p:outputLabel for="@next" value="Porcentaje Discapacidad" />
					<p:selectOneMenu
						value="#{beanGuardiaP.guardiaSeleccionado.porcentajeDiscapacidad}">
						<f:selectItem itemLabel="Seleccione Uno" itemValue="0" />
						<f:selectItem itemLabel="40% al 49%" itemValue="60" />
						<f:selectItem itemLabel="50% al 74%" itemValue="70" />
						<f:selectItem itemLabel="75% al 84%" itemValue="80" />
						<f:selectItem itemLabel="85% al 100%" itemValue="100" />
						<f:facet name="footer">
							<p:divider styleClass="p-mt-0" />
							<h:outputText value="Porcentaje por Conadis"
								style="font-weight:bold;" />
						</f:facet>
					</p:selectOneMenu>
					<h:outputText value="Educacion:" />
					<p:selectOneMenu value="#{beanGuardiaP.idTituloSeleccionado}">
						<f:selectItems value="#{beanGuardiaP.listaTitulos}" var="a"
							itemLabel="#{a.nivel} #{a.carrera}"
							itemValue="#{a.idCdgNivelEducacion}"></f:selectItems>
					</p:selectOneMenu>
					<h:outputText value="Seleccione Ubicacion:" />
					<p:selectOneMenu value="#{beanGuardiaP.idUbicacionSeleccionada}">
						<f:selectItems value="#{beanGuardiaP.listaCiudad}" var="a"
							itemLabel="#{a.cdgProvincia.nombreProvincia} #{a.nombreCiudad}"
							itemValue="#{a.idCdgCiudad}"></f:selectItems>
					</p:selectOneMenu>
					<p:commandButton type="button" value="Cancelar"
						styleClass="ui-button-flat p-mr-2"
						onclick="PF('dlgEdicionGuardia').hide()" />
					<p:commandButton value="Guardar" icon="pi pi-save"
						actionListener="#{beanGuardiaP.actionListenerActualizarGuardia()}"
						update="@form,:form2" />
				</p:panelGrid>
			</h:form>
		</p:dialog>
	</div>
</body>
</html>
