<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de empresas"></p:staticMessage>
	</h:form>
	<div class="card">
		<p:steps activeIndex="0">
			<p:menuitem value="Ubicacion" />
			<p:menuitem value="Nivel Educacion" />
			<p:menuitem value="Categoria/Clasificacion" />
			<p:menuitem value="Guardia" />
		</p:steps>
		<div style="text-align: right;">
			<p:commandButton value="Siguiente" icon="pi pi-arrow-right"
				action="#{beanGuardias.actionPasarPagina()}" />
		</div>
		<p:panelGrid columns="2">
			<h:form>
				<p:panelGrid columns="2">
					<f:facet name="header">REGISTRO UBICACION</f:facet>
					<h:outputText value="Seleccione la Provincia" />
					<p:selectOneMenu value="#{beanUbicacion.idProvinciaSeleccionada}">
						<f:selectItems value="#{beanUbicacion.listaProvincia}" var="p"
							itemLabel="#{p.nombreProvincia}" itemValue="#{p.idCdgProvincia}" />
					</p:selectOneMenu>
					<h:outputText value="Escriba la ciudad:" />
					<p:inputText value="#{beanUbicacion.nombreCiudad}" required="true"
						maxlength="50" requiredMessage="Debe Ingresar un nombre"
						type="text">
						<p:keyFilter regEx="/[a-zA-ZÀ-ú\\s\\' ]+/" />
					</p:inputText>
					<p:commandButton value="Agregar Ciudad" update=":form2"
						actionListener="#{beanUbicacion.actionListenerAgregarUbicacioncab()}"
						icon="pi pi-plus" />
					<p:commandButton value="Guardar Ubicacion" icon="pi pi-save"
						update="@form,:form2,:form3"
						actionListener="#{beanUbicacion.actionListenerGuardarUbicacion()}"></p:commandButton>
				</p:panelGrid>
			</h:form>
			<p:panelGrid columns="1">
				<h:form id="form2">
					<p:dataTable value="#{beanUbicacion.listaDetalleUbicacion}" var="u">
						<p:column headerText="CODIGO">
							<h:outputText value="#{u.codigoProvincia}" />
						</p:column>
						<p:column headerText="CIUDAD">
							<h:outputText value="#{u.nombreCiudad}" />
						</p:column>
					</p:dataTable>
				</h:form>
				<h:form id="form3">
					<p:panelGrid columns="2">
						<f:facet name="header">
                        LISTA PROVINCIAS/CIUDADES
                </f:facet>
						<p:dataTable value="#{beanUbicacion.listaProvincia}" var="c"
							reflow="true" rows="4" paginator="true">
							<p:column headerText="PROVINCIA">
								<h:outputText value="#{c.nombreProvincia}" />
							</p:column>
							<p:column headerText="CIUDADES">
								<p:dataTable value="#{c.cdgCiudads}" var="jeje">
									<p:column headerText="Codigo">
										<h:outputText value="#{jeje.idCdgCiudad}" />
									</p:column>
									<p:column headerText="Nombre Ciudad">
										<h:outputText value="#{jeje.nombreCiudad}" />
									</p:column>
									<p:column headerText="OPCIONES">
										<p:commandButton value="Editar" icon="pi pi-pencil"
											oncomplete="PF('dlgEdicion').show()" update="formEdicion"
											actionListener="#{beanUbicacion.actionListenerSeleccionarCiudad(jeje)}" />
									</p:column>
								</p:dataTable>
							</p:column>
						</p:dataTable>
					</p:panelGrid>
				</h:form>
			</p:panelGrid>
		</p:panelGrid>
		<p:dialog header="Editar Ciudad" widgetVar="dlgEdicion" width="450"
			showEffect="fade" modal="true">
			<h:form id="formEdicion">
				<p:messages>
					<p:autoUpdate />
				</p:messages>
				<p:panelGrid columns="2">
					<h:outputText value="CODIGO: " />
					<h:outputText value="#{beanUbicacion.ciudadEdicion.idCdgCiudad}"
						required="true" requiredMessage="Indique el nombre." />
					<h:outputText value="NOMBRE:" />
					<p:inputText value="#{beanUbicacion.ciudadEdicion.nombreCiudad}"
						required="true" requiredMessage="Indique el nombre.">
						<p:keyFilter regEx="/[a-zA-ZÀ-ú\\s\\' ]+/" />
					</p:inputText>
					<p:commandButton type="button" value="Cancelar"
						styleClass="ui-button-flat p-mr-2"
						onclick="PF('dlgEdicion').hide()" />
					<p:commandButton value="Guardar" icon="pi pi-save"
						actionListener="#{beanUbicacion.actionListenerActualizarCiudad()}"
						update="@form,:form2,form3" />
				</p:panelGrid>
			</h:form>
		</p:dialog>
	</div>
</body>
</html>
