<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<f:facet name="first">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
		<title>AGREGAR GUARDIA - VIPRISEP</title>
	</f:facet>
</h:head>
<body>

	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<p:menuitem value="Reporte" icon="pi pi-users"
				action="menu_reportes?faces-redirect=true" />
			<p:menuitem value="Historial" icon="pi pi-list"
				action="menu_historial?faces-redirect=true}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de Guardias"></p:staticMessage>
	</h:form>
	<div class="card">
		<p:steps activeIndex="1">
			<p:menuitem value="Registro Empresa" />
			<p:menuitem value="Asignacion de Guardia" />
		</p:steps>
		<p:panelGrid columns="2">
			<f:facet name="header">
				<h:graphicImage value="viprisep.png" style="margin-left: 10px; "
					width="100px" height="100px"></h:graphicImage>
					
					<h2> CONTROL DE GUARDIAS</h2>
		</f:facet>
			<h:form>
				<p:panelGrid columns="2" >
					<h:outputText value="Guardia para asignar:" />
					<p:selectOneMenu value="#{beanGuardias.cedula}">
						<f:selectItems value="#{beanGuardias.listaGuardiacab}" var="a"
							itemLabel="#{a.cedula} #{a.apellidos} #{a.nombres}"
							itemValue="#{a.cedula}"></f:selectItems>
					</p:selectOneMenu>
					<h:outputText value="Empresa a la que va a Trabajar:" />
					<p:selectOneMenu value="#{beanGuardias.idEmpresaSeleccionada}">
						<f:selectItems value="#{beanEmpresa.listaEmpresaDetalles}" var="a"
							itemLabel="#{a.cdcEmpresaCabecera.nombreEmpresa} #{a.cdgCiudad.cdgProvincia.nombreProvincia} #{a.cdgCiudad.nombreCiudad} #{a.tipo}"
							itemValue="#{a.idCdgEmpresaDetalle}"></f:selectItems>
					</p:selectOneMenu>
					<h:outputText value="Fecha de asignación: " />
					<p:calendar value="#{beanGuardias.fechaAsignacion}"></p:calendar>
					<h:outputText value="Fecha de finalización: " />
					<p:calendar value="#{beanGuardias.fechaFinalizacion}"></p:calendar>
					<p:commandButton
						actionListener="#{beanGuardias.actionListenerAgregarGuardiacab()}"
						value="Agregar Detalle" icon="pi pi-plus" update=":form2" />
					<p:commandButton
						actionListener="#{beanGuardias.actionListenerGuardarGuardia()}"
						value="Guardar Guardia" icon="pi pi-save" update="@form,:form2"></p:commandButton>
				</p:panelGrid>
			</h:form>
			<h:form id="form2">
				<p:panelGrid columns="5">
					<f:facet name="header">
                        DETALLES EMPRESAS
                </f:facet>
					<p:dataTable value="#{beanGuardias.listaDetalleGuardias}" var="d" >
						<p:column headerText="EMPRESA">
							<h:outputText value="#{d.nombreEmpresa}" />
						</p:column>
						<p:column headerText="TIPO">
							<h:outputText value="#{d.tipo}" />
						</p:column>
						<p:column headerText="CATEGORIA">
							<h:outputText value="#{d.categoria}" />
						</p:column>
						<p:column headerText="UBICACION">
							<h:outputText value="#{d.provinciaEmpresa} #{d.ciudadEmpresa}" />
						</p:column>
					</p:dataTable>
				</p:panelGrid>
				<p:panelGrid columns="5">
					<f:facet name="header">
                        DATOS GUARDIAS
                </f:facet>
					<p:dataTable value="#{beanGuardias.listaGuardiaDet}" var="d" paginator="true" rows="5">
						<p:column headerText="CEDULA">
							<h:outputText value="#{d.cdgGuardiaCabecera.cedula}" />
						</p:column>
						<p:column headerText="RESIDENCIA" style="text-align:center;">
							<h:outputText
								value="#{d.cdgGuardiaCabecera.cdgCiudad.nombreCiudad} #{d.cdgGuardiaCabecera.cdgCiudad.cdgProvincia.nombreProvincia}" />
						</p:column>
						<p:column headerText="NOMBRES">
							<h:outputText
								value="#{d.cdgGuardiaCabecera.apellidos} #{d.cdgGuardiaCabecera.nombres}" />
						</p:column>
						<p:column headerText="DISCAPACIDAD" style="text-align:center;">
							<p:selectBooleanCheckbox
								value="#{d.cdgGuardiaCabecera.discapacidad}" disabled="true">
							</p:selectBooleanCheckbox>
							<h:outputText
								value=" #{d.cdgGuardiaCabecera.porcentajeDiscapacidad} %" />
						</p:column>
						<p:column headerText="REENTRENADO" style="text-align:center;">
							<p:selectBooleanCheckbox
								value="#{d.cdgGuardiaCabecera.reentrenado}" disabled="true">
							</p:selectBooleanCheckbox>
						</p:column>
						<p:column headerText="CLIENTE">
							<h:outputText
								value="#{d.cdcEmpresaDetalle.cdcEmpresaCabecera.nombreEmpresa} " />
						</p:column>
						<p:column headerText="UBICACIÓN" style="text-align:center;">
							<h:outputText
								value="#{d.cdcEmpresaDetalle.cdgCiudad.cdgProvincia.nombreProvincia} #{d.cdcEmpresaDetalle.cdgCiudad.nombreCiudad}" />
						</p:column>
						<p:column headerText="EDUCACIÓN" style="text-align:center;">
							<h:outputText
								value="Nivel: #{d.cdgGuardiaCabecera.cdgNivelEducacion.nivel} Carrera: #{d.cdgGuardiaCabecera.cdgNivelEducacion.carrera}" />
						</p:column>
						<p:column headerText="REGISTRO" style="text-align:center;">
							<p:selectBooleanCheckbox
								value="#{d.cdgGuardiaCabecera.cdgNivelEducacion.registrado}"
								disabled="true">
							</p:selectBooleanCheckbox>
						</p:column>
					</p:dataTable>
				</p:panelGrid>
			</h:form>
		</p:panelGrid>
	</div>
</body>
</html>