<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<p:menuitem value="Reportes" icon="pi pi-users"
				 action="menu_reportes?faces-redirect=true"/>
			<p:menuitem value="Historial" icon="pi pi-list"
				action="menu_historial?faces-redirect=true}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de Guardias"></p:staticMessage>
	</h:form>
	<p:panelGrid columns="2">
		<h:form>
			<p:menu>
				<p:submenu label="Opciones">

					<p:menuitem value="Empresas" icon="pi pi-book" action="empresa_reporte" />
					<p:menuitem value="Guardias" icon="pi pi-users" action="guardia_reporte" />
					
				</p:submenu>
			</p:menu>
			<p:commandButton
						actionListener="#{beanReportes.actionReporteEmpresas()}"
						value="Generar Reporte" ajax="false" icon="pi pi-list" style="margin: 10%">
			</p:commandButton>
		</h:form>
		<h:form id="formDatos">
			<p:panelGrid columns="2">
				<f:facet name="header">
                        EMPRESAS
                </f:facet>
				<p:dataTable value="#{beanEmpresa.listaEmpresaDetalles}" var="d" paginator="true" rows="5">
					<p:column headerText="NOMBRE">
						<h:outputText value="#{d.cdcEmpresaCabecera.nombreEmpresa}" />
					</p:column>
					<p:column headerText="UBICACION">
						<h:outputText
							value="#{d.cdgCiudad.nombreCiudad} #{d.cdgCiudad.cdgProvincia.nombreProvincia}" />
					</p:column>
					<p:column headerText="TIPO">
						<h:outputText value="#{d.tipo}" />
					</p:column>
					<p:column headerText="CATEGORIA">
						<h:outputText
							value="#{d.cdcEmpresaCabecera.cdcCategoria.nombreCategoria}" />
					</p:column>
					<p:column headerText="CLASIFICACION">
						<h:outputText
							value="#{d.cdcEmpresaCabecera.cdcCategoria.nombreCategoria}" />
					</p:column>
					<p:column headerText="CONTACTO">
						<h:outputText value="#{d.telefono} #{d.correo}" />
					</p:column>
				</p:dataTable>
			</p:panelGrid>			
		</h:form>
	</p:panelGrid>
	<p:dialog header="Editar automóvil" widgetVar="dlgEdicion" width="450"
		showEffect="fade" modal="true">
		<h:form id="formEdicion">
			<p:messages>
				<p:autoUpdate />
			</p:messages>
			<p:panelGrid columns="2">
				<h:outputText value="PLACA:" />
				<h:outputText value="#{beanAlquiler.automovilEdicion.placa}" />
				<h:outputText value="AÑO:" />
				<p:spinner value="#{beanAlquiler.automovilEdicion.anio}" min="1980"
					max="2021" />
				<h:outputText value="MARCA:" />
				<p:selectOneMenu value="#{beanAlquiler.idMarcaEdicion}">
					<f:selectItems value="#{beanAlquiler.listaMarcas}" var="m"
						itemLabel="#{m.nombreMarca}" itemValue="#{m.idMarca}" />
				</p:selectOneMenu>
				<h:outputText value="COLOR:" />
				<p:inputText value="#{beanAlquiler.automovilEdicion.color}"
					required="true" requiredMessage="Indique el color." />
				<h:outputText value="KILOMETRAJE:" />
				<p:spinner value="#{beanAlquiler.automovilEdicion.kilometraje}" />
				<h:outputText value="COSTO DIARIO:" />
				<p:spinner value="#{beanAlquiler.automovilEdicion.costoDia}"
					stepFactor="0.01" />
				<h:outputText value="ALQUILADO:" />
				<h:outputText value="#{beanAlquiler.automovilEdicion.alquilado}" />
				<p:commandButton type="button" value="Cancelar"
					styleClass="ui-button-flat p-mr-2"
					onclick="PF('dlgEdicion').hide()" />
				<p:commandButton value="Guardar" icon="pi pi-save"
					update=":formDatos"
					actionListener="#{beanAlquiler.actionListenerActualizarAutomovil()}" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
	<p:dialog header="Alquilar automóvil" widgetVar="dlgAlquiler"
		width="450" showEffect="fade" modal="true">
		<h:form id="formAlquiler">
			<p:messages>
				<p:autoUpdate />
			</p:messages>
			<p:panelGrid columns="2">
				<h:outputText value="CLIENTE:" />
				<p:selectOneMenu value="#{beanAlquiler.cedulaClienteSeleccionado}">
					<f:selectItems value="#{beanAlquiler.listaClientes}" var="c"
						itemLabel="#{c.nombres}" itemValue="#{c.cedulaCliente}" />
				</p:selectOneMenu>
				<p:commandButton type="button" value="Cancelar"
					styleClass="ui-button-flat p-mr-2"
					onclick="PF('dlgAlquiler').hide()" />
				<p:commandButton value="Guardar" icon="pi pi-save"
					actionListener="#{beanAlquiler.actionListenerAlquilarSimpleAutomovil()}"
					update=":formDatos" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
</body>
</html>
