<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<p:menuitem value="Reportes" icon="pi pi-users"
				 action="menu_reportes?faces-redirect=true"/>
			<p:menuitem value="Historial" icon="pi pi-list"
				action="menu_historial?faces-redirect=true}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de Guardias"></p:staticMessage>

	</h:form>
	
	<div class="card">
	
	<p:panelGrid columns="2">
		<h:form>
			<p:menu>
				<p:submenu label="Opciones">

					<p:menuitem value="Empresas" icon="pi pi-book" action="empresa_reporte" />
					<p:menuitem value="Guardias" icon="pi pi-users" action="guardia_reporte" />
					
				</p:submenu>
				
			</p:menu>
		    <p:commandButton
						actionListener="#{beanReportes.actionReporteGuardias2()}"
						value="Generar Reporte" ajax="false" icon="pi pi-list" style="margin: 10%">
			</p:commandButton>
			<p:commandButton 
				
				value="Generar Reporte por cedula" icon="pi pi-list"
				oncomplete="PF('dlgReporte').show()" update=":formDatos">
			
			</p:commandButton>
			
			
		</h:form>

		<h:form id="formDatos" scrollable="true">
			<p:panelGrid columns="5" scrollable="true">
				<f:facet name="header" >
				                        
                    <h2 style="margin: 0px">DATOS GUARDIAS</h2>    

                </f:facet>

				<p:dataTable value="#{beanGuardias.listaGuardiaDet}"  scrollable="true" var="d" 
							paginator="true" rows="5">
				
							
					<p:column headerText="CEDULA" width="100%" 
								
								filterBy="#{d.cdgGuardiaCabecera.cedula}"
								filterMatchMode="contains"
								filterValue="#{beanReporte.cedulafindReporte}">
						<h:outputText value="#{d.cdgGuardiaCabecera.cedula}" />
					</p:column>
					<p:column headerText="RESIDENCIA"  width="110%">
						<h:outputText
							value="#{d.cdgGuardiaCabecera.cdgCiudad.nombreCiudad} #{d.cdgGuardiaCabecera.cdgCiudad.cdgProvincia.nombreProvincia}" />
					</p:column>
					<p:column headerText="NOMBRES"  width="110%">
						<h:outputText
							value="#{d.cdgGuardiaCabecera.apellidos} #{d.cdgGuardiaCabecera.nombres}" />
					</p:column>
					<p:column headerText="DISCAPACIDAD"  width="110%">
						<h:outputText value="#{d.cdgGuardiaCabecera.discapacidad}" />
					</p:column>
					<p:column headerText="REENTRENAMIENTO"  width="110%">
						<h:outputText value="#{d.cdgGuardiaCabecera.reentrenado}" />
					</p:column>
					<p:column headerText="EMPRESA-CLIENTE"  width="110%">
						<h:outputText
							value="#{d.cdcEmpresaDetalle.cdcEmpresaCabecera.nombreEmpresa} " />
					</p:column>
					<p:column headerText="UBICACIÓN-EMPRESA-CLIENTE"  width="110%">
						<h:outputText
							value="#{d.cdcEmpresaDetalle.cdgCiudad.cdgProvincia.nombreProvincia} #{d.cdcEmpresaDetalle.cdgCiudad.nombreCiudad}" />
					</p:column>
					<p:column headerText="NIVEL-EDUCACIÓN"  width="110%">
						<h:outputText
							value="#{d.cdgGuardiaCabecera.cdgNivelEducacion.nivel} #{d.cdgGuardiaCabecera.cdgNivelEducacion.carrera}" />
					</p:column>
					<p:column headerText="REGISTRO-EDUCACIÓN"  width="110%">
						<h:outputText
							value="#{d.cdgGuardiaCabecera.cdgNivelEducacion.registrado}" />
					</p:column>
					
				</p:dataTable>
			</p:panelGrid>
		</h:form>
	</p:panelGrid>
	
	</div>	
	
	<p:dialog header="Reporte por Cedula" widgetVar="dlgReporte" width="450"
		showEffect="fade" modal="true">
		<h:form id="formEdicion">
			<p:messages>
				<p:autoUpdate />
			</p:messages>
			<p:panelGrid columns="2">
				<h:outputText value="CEDULA" />
				<p:inputText value="#{beanReportes.cedulafindReporte}"></p:inputText>
		

				<p:commandButton type="button" value="Cancelar"
					styleClass="ui-button-flat p-mr-2"
					onclick="PF('dlgEdicion').hide()" />
					
				<p:commandButton 
					actionListener="#{beanReportes.actionReporteGuardiasByCedula()}"
					value="Generar Reporte" ajax="false" icon="pi pi-list" style="margin: 10%">
				</p:commandButton>
				
			</p:panelGrid>
		</h:form>
	</p:dialog>
	
</body>
</html>
