<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<p:menuitem value="Reportes" icon="pi pi-users"
				action="menu_reportes?faces-redirect=true" />
			<p:menuitem value="Historial" icon="pi pi-list"
				action="menu_historial?faces-redirect=true}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de empresas"></p:staticMessage>
	</h:form>
	<div class="card">
		<p:steps activeIndex="0">
			<p:menuitem value="Registro Empresa" />
			<p:menuitem value="Asignacion de Guardia" />
		</p:steps>
		<div style="text-align: right;">
			<p:commandButton value="Siguiente" icon="pi pi-arrow-right"
				action="#{beanGuardias.actionPasarPagina4()}" />
		</div>
		<p:panelGrid columns="2">
			<h:form>
				<p:panelGrid columns="2">
					<f:facet name="header">REGISTRO DE EMPRESA</f:facet>
					<h:outputText value="Escriba el nombre de la Empresa" />
					<p:inputText value="#{beanEmpresa.nombreEmpresa}" required="true"
						requiredMessage="Ingrese el nombre de la empresa">
						<p:keyFilter regEx="/[a-zA-ZÀ-ú\\s\\' ]+/" />
					</p:inputText>
					<h:outputText value="Selecciones su Categoria:" />
					<p:selectOneMenu value="#{beanEmpresa.categoria}">
						<f:selectItems value="#{beanEmpresa.listaCategoria}" var="a"
							itemLabel="#{a.nombreCategoria}" itemValue="#{a.idCdgCategoria}"></f:selectItems>
					</p:selectOneMenu>
					<h:outputText value="Selecciones su Clasificacion" />
					<p:selectOneMenu value="#{beanEmpresa.clasificacion}">
						<f:selectItems value="#{beanEmpresa.listaClasificacion}" var="b"
							itemLabel="#{b.nombreClasificacion}"
							itemValue="#{b.idCdgClasificacion}"></f:selectItems>
					</p:selectOneMenu>
					<h:outputText value="Telefono: " />
					<p:inputText value="#{beanEmpresa.telefono}" required="true"
						requiredMessage="Ingrese el numero de la empresa">
						<p:keyFilter mask="num" />
					</p:inputText>
					<h:outputText value="Correo: " />
					<p:inputText value="#{beanEmpresa.correo}" required="true"
						type="email" requiredMessage="Ingrese el correo de la empresa">
						<p:keyFilter regEx="/[a-z0-9_\.\-@]/i" />
					</p:inputText>
					<h:outputText value="Seleccione Ubicacion:" />
					<p:selectOneMenu value="#{beanEmpresa.idUbicacion}">
						<f:selectItems value="#{beanUbicacion.listaCiudades}" var="a"
							itemLabel="#{a.cdgProvincia.nombreProvincia} #{a.nombreCiudad}"
							itemValue="#{a.idCdgCiudad}"></f:selectItems>
					</p:selectOneMenu>
					<p:outputLabel for="@next" value="Tipo" />
					<p:selectOneMenu value="#{beanEmpresa.tipo}">
						<f:selectItem itemLabel="Seleccione Uno" />
						<f:selectItem itemLabel="Matriz" itemValue="Matriz" />
						<f:selectItem itemLabel="Sucursal" itemValue="Sucursal" />
						<f:facet name="footer">
							<p:divider styleClass="p-mt-0" />
							<h:outputText value="Saluditos" style="font-weight:bold;" />
						</f:facet>
					</p:selectOneMenu>
					<p:commandButton value="Agregar Sucursal" update=":form2"
						actionListener="#{beanEmpresa.actionListenerAgregarEmpresacab()}" />
					<p:commandButton value="Guardar Empresa" icon="pi pi-save"
						update="@form,:form2"
						actionListener="#{beanEmpresa.actionListenerGuardarEmpresa()}" />
				</p:panelGrid>
			</h:form>
			<p:panelGrid columns="2">
				<h:form id="form2">
					<p:panelGrid columns="2">
						<f:facet name="header">DETALLES</f:facet>
						<p:dataTable value="#{beanEmpresa.listaDetalleEmpresa}" var="emp">
							<p:column headerText="UBICACION">
								<h:outputText value="#{emp.idUbicacion}" />
							</p:column>
							<p:column headerText="TIPO">
								<h:outputText value="#{emp.tipo}" />
							</p:column>
							<p:column headerText="TELEFONO">
								<h:outputText value="#{emp.telefono}" />
							</p:column>
							<p:column headerText="CORREO">
								<h:outputText value="#{emp.correo}" />
							</p:column>
						</p:dataTable>
					</p:panelGrid>
					<p:panelGrid columns="2">
						<f:facet name="header">EMPRESAS</f:facet>
						<p:dataTable value="#{beanEmpresa.listaEmpresaDetalles}" var="d"  paginator="true" rows="5">
							<p:column headerText="NOMBRE">
								<h:outputText value="#{d.cdcEmpresaCabecera.nombreEmpresa}" />
							</p:column>
							<p:column headerText="UBICACION">
								<h:outputText
									value="#{d.cdgCiudad.nombreCiudad} #{d.cdgCiudad.cdgProvincia.nombreProvincia}" />
							</p:column>
							<p:column headerText="TIPO">
								<h:outputText value="#{d.tipo}" />
							</p:column>
							<p:column headerText="CATEGORIA">
								<h:outputText
									value="#{d.cdcEmpresaCabecera.cdcCategoria.nombreCategoria}" />
							</p:column>
							<p:column headerText="CLASIFICACION">
								<h:outputText
									value="#{d.cdcEmpresaCabecera.cdcClasificacion.nombreClasificacion}" />
							</p:column>
							<p:column headerText="CONTACTO">
								<h:outputText value="Telefono:#{d.telefono} Correo:#{d.correo}" />
							</p:column>
						</p:dataTable>
					</p:panelGrid>
				</h:form>
			</p:panelGrid>
		</p:panelGrid>
	</div>
</body>
</html>
