<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<p:menuitem value="Reportes" icon="pi pi-users"
				 action="menu_reportes?faces-redirect=true"/>
			<p:menuitem value="Historial" icon="pi pi-list"
				action="menu_historial?faces-redirect=true" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Historial de Registro"></p:staticMessage>
	</h:form>
	<p:panelGrid columns="2">

		<h:form id="formDatos">
			<p:panelGrid columns="6" scrollable="true">
				<f:facet name="header">
                        HISTORIAL DE REGISTROS DE GUARDIAS
                </f:facet>

				<p:dataTable  emptyMessage="Aun no hay datos" value="#{beanGuardias.listaHistorial}"  
					paginator="true" rows="5" var="h">
					<p:column headerText="ID" width="10%">
						<h:outputText value="#{h.idCdgHistorial}" />
					</p:column>
					<p:column headerText="CEDULA" 
							filterBy="#{h.cdgGuardiaCabecera.cedula}"	filterMatchMode="contains">
						<h:outputText value="#{h.cdgGuardiaCabecera.cedula}" />
					</p:column>
					<p:column headerText="FECHA DE INICIO" 
							filterBy="#{h.fechaIngreso}"	filterMatchMode="contains" >
						<h:outputText
							value="#{h.fechaIngreso}" />
					</p:column>
					<p:column headerText="FECHA SALIDA" 
						filterBy="#{h.fechaSalida}"	filterMatchMode="contains" >
						<h:outputText
							value="#{h.fechaSalida.year+1900}-#{h.fechaSalida.month+1}-#{h.fechaSalida.date}"/>
							
					</p:column>
					<p:column headerText="ESTADO" 
						filterBy="#{h.estado}"	filterMatchMode="contains">
						<h:outputText value="#{h.estado}" />
					</p:column>
					<p:column headerText="EDICION" >
						<p:commandButton icon="pi pi-pencil" title="editar"
							actionListener="#{beanGuardias.actionListenerCargarEdicionHistorial(h)}"
							oncomplete="PF('dlgEdicion').show()" update=":formEdicion" />
					</p:column>
				</p:dataTable>
			</p:panelGrid>
		</h:form>
	</p:panelGrid>
	<p:dialog header="Editar historial" widgetVar="dlgEdicion" width="450"
		showEffect="fade" modal="true">
		<h:form id="formEdicion">
			<p:messages>
				<p:autoUpdate />
			</p:messages>
			<p:panelGrid columns="2">
				<h:outputText value="CEDULA" />
				<h:outputText value="#{beanGuardias.edicionHistorial.cdgGuardiaCabecera.cedula}" />
				<h:outputText value="FECHA DE INICIO" />
				<h:outputText value="#{beanGuardias.edicionHistorial.fechaIngreso}" />
				<h:outputText value="FECHA FIN" />
				<p:calendar value="#{beanGuardias.edicionHistorial.fechaSalida}"></p:calendar>
				<h:outputText value="ESTADO\ Activo/Inactivo" />
				<p:toggleSwitch value="#{beanGuardias.edicionHistorial.estado}">
	            	
	        	</p:toggleSwitch>

				<p:commandButton type="button" value="Cancelar"
					styleClass="ui-button-flat p-mr-2"
					onclick="PF('dlgEdicion').hide()" />
				<p:commandButton value="Guardar" icon="pi pi-save"
					update=":formDatos"
					actionListener="#{beanGuardias.actionListenerActualizarHistorial()}" />
			</p:panelGrid>
		</h:form>
	</p:dialog>
	
</body>
</html>
