<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="/menu?faces-redirect=true" />
			<p:menuitem value="Reportes" icon="pi pi-users"
				 action="menu_reportes?faces-redirect=true"/>
			<p:menuitem value="Historial" icon="pi pi-list"
				action="menu_historial?faces-redirect=true}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de Guardias"></p:staticMessage>
	</h:form>
	<p:panelGrid columns="2">
		<h:form>
			<p:menu>
				<p:submenu label="Opciones">
					<p:menuitem value="Empresas" icon="pi pi-book" action="empresa_reporte" />
					<p:menuitem value="Guardias" icon="pi pi-users" action="guardia_reporte" />
					
				</p:submenu>
			</p:menu>
		</h:form>
		<h:form id="formDatos">
			
		</h:form>
	</p:panelGrid>
	
</body>
</html>
